.App {
  text-align: center;
}

@media (max-width: 600px) {
  .App {
    padding: 10px;
  }
}
.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LockerSelect {
  margin-bottom: 20px;
}

.LockerSelect label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.LockerSelect select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
}

p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}


.Box {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0; /* Adjust margin to create space between boxes */
  width: calc(100% - 30px); /* Make each box take up the full width */
}

.Box p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

button {
  margin-right: 10px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}
