/* styles.css */

/* General styles for larger screens */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }
}

/* Flex container for ShowCabinet and Parcels */
.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




.LockerSelect {
  margin-bottom: 20px;
}

.LockerSelect label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.LockerSelect select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
}

p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}






/* ShowCabinets styles */




.ShowCabinets {
  flex: 1; /* Take up half of the available space */
  margin-bottom: 20px;
}

.ShowCabinets button {
  margin-right: 10px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

.Cabinet {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.ChooseParcel {
  margin-top: 15px;
  padding: 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.ChooseParcel:disabled {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}

/* Parcels styles */

.Parcels {
  flex: 1; /* Take up half of the available space */
  margin-bottom: 20px;
}

.Parcels button {
  margin-bottom: 15px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

.Parcel {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.DeliveryParcel {
  padding: 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.DeliveryParcel:disabled {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}

/* Box styles */

/* styles.css */

.Box {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0; /* Adjust margin to create space between boxes */
  width: calc(100% - 30px); /* Make each box take up the full width */
}

.Box p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

